/* HEADER */
.nav__link:link,
.nav__link:visited,
h1,
p {
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px,
    rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px,
    rgb(0, 0, 0) 0.705713px 2.91581px 0px,
    rgb(0, 0, 0) -0.287171px 2.98622px 0px,
    rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px,
    rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px,
    rgb(0, 0, 0) -2.94502px -0.571704px 0px,
    rgb(0, 0, 0) -2.59586px -1.50383px 0px,
    rgb(0, 0, 0) -1.96093px -2.27041px 0px,
    rgb(0, 0, 0) -1.11013px -2.78704px 0px,
    rgb(0, 0, 0) -0.137119px -2.99686px 0px,
    rgb(0, 0, 0) 0.850987px -2.87677px 0px,
    rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px,
    rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  color: #fff;
}
header {
  height: 70vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(/images/homeBackground.jpg);
  background-size: cover;
  color: #fff;
}

.header-container {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 11rem;
  margin-bottom: 32px;
  line-height: 1.05;
  letter-spacing: 2px;
}

p {
  font-size: 2.5rem;
  line-height: 1.6;
  margin-bottom: 100px;
}

input {
  width: 40%;
  padding: 15px;
  background-color: white;
  border: 6px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  transform: skew(-3deg, 1deg);
  font-family: "Knewave", cursive;
  letter-spacing: 2px;
}
.filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filters input {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.cardContainer {
  width: 80%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.card {
  padding: 2rem;
  box-shadow: 0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in;
  display: none;
}
.card:hover {
  background: rgb(222, 222, 222);
  box-shadow: none;
}
.card-text {
  font-size: medium;
  line-height: normal;
  margin-bottom: 50 px;
  text-shadow: none;
  color: #111;
}
.card input {
  padding: 10px;
  font-size: 100%;
  font-weight: bolder;
  width: fit-content;
}
.card input:hover {
  background-color: #111;
  border: 6px solid white;
  color: white;
  cursor: pointer;
}
.card-img {
  max-height: 20rem;
}
.middle {
  display: flex;
  flex-direction: column;
}
.loadMore {
  width: fit-content;
  align-self: center;
  padding: 10px;
  margin-bottom: 100px;
  background-color: white;
  border: 6px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  transform: skew(-3deg, 1deg);
  font-family: "Knewave", cursive;
  letter-spacing: 2px;
  cursor: pointer;
}
.loadMore:hover {
  background-color: #111;
  border: 6px solid white;
  color: white;
}
.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
  display: inline-block;
}
